doctype html
html
	head
		title= nconf.get("title")
		link(href="https://cdnjs.cloudflare.com/ajax/libs/css-social-buttons/1.3.0/css/zocial.css", rel="stylesheet")
		link(href=root_url + "/style.css", rel="stylesheet")
	body
		div.container
			div.header
				h1= nconf.get("title")
				if (render_menubar !== false)
					div.menubar
						a(href=(nconf.get("url") + "/")) Home
						a(href=(nconf.get("url") + "/restricted/info")) Restricted Section
						a(href=(nconf.get("url") + "/auth/logout")) Log Out
			block body